<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Nouveautés Bancaires</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Liste des Nouveautés Bancaires</h2>
    <div class="card-deck">
        <div th:each="nouveaute : ${nouveautes}" class="card">
            <img th:src="${nouveaute.image}" class="card-img-top" alt="Nouveauté Image">
            <div class="card-body">
                <h5 class="card-title" th:text="${nouveaute.titre}">Titre</h5>
                <p class="card-text" th:text="${nouveaute.contenu}">Contenu</p>
                <p class="card-text"><small class="text-muted" th:text="${nouveaute.auteur}">Auteur</small></p>
                <!-- Ajoutez ici d'autres informations si nécessaire -->
            </div>
        </div>
    </div>
</div>
<!-- jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
